h2{color:#fff;}
.junior_films{background-color:#fff;color:#000;}
.footer{width:100%;padding-left:auto;padding-right:auto;margin-left:auto;margin-right:auto;padding-top:100px;}
.customer_details{background-color:#fff;color:#000;}
.remove_user{color:#000;background-color:#fff;}
.register_form{color:#fff;background-color:#6E6E6E;border-radius:3px;}
.usertype{color:#000;}